/* CSS for header and navigation bar */
		header {
			background-color: #AA0204;
			color: #FBED90;
			padding: 20px;
			text-align: center;
		}

		/*nav {
			background-color: #430103;
			overflow: hidden;
		}

		nav a {
			float: left;
			color: #FBED90;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		nav b {
			float: right;
			color: #FBED90;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		nav a:hover {
			background-color: #FBED90;
			color: #430103;
		}

		*/

		/* CSS for main content section */
		main {
			padding: 20px;
			background-color: #f2f2f2;
			margin-top: 20px;
			margin-bottom: 20px;
			border-radius: 5px;
		}