
/** CSS for all web pages :) **/
body {
	font-size: 62.5%;
}

.topnav{
	border-bottom: 3PX solid rgb(144, 38, 179);
}

.intro{
	height:90vh;
}

.about{
	height: 70vh;
}

.text{
	width: 80vh;
}

.subtabintro{
	height:50vh;
}

.pagecontent{
	height: 90vh;
}